<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
    </head>
    <body>
        <!---<p>Please fill out the following information and click submit:</p>

        <form action="/polls/thanks/" method="post">
            {% csrf_token %}
                {{ form }}
            <input type="submit" value="Submit" />
        </form>-->

        <form action="/polls/login/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Sign In" />
        </form>
    </body>
</html>